body{
    margin: 0px;
    padding: 0px;
    background-color: #f1f1f1;
    box-sizing: border-box;
}

.card-cont{
    height: 430px;
    width: 300px;
    background: rgb(255, 216, 216);
    border-radius: 17px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    box-shadow: 0px 1px 10px 1px #000;
    overflow: hidden;
    display: inline-block;
}

.upper-cont{
    height: 150px;
    background: linear-gradient(-55deg,#f034c1,#7f48ed);
}

.img-cont{
    background: white;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 5px;
    transform: translate(100px,100px);
}

.img-cont img{
    background: white;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.lower-cont{
    height: 280px;
    background: white;
    padding: 20px;
    padding-top: 40px;
    text-align: center;
}

.lower-cont .btn{
    padding: 12px 20px;
    background:linear-gradient(-55deg,#f034c1,#7f48ed);
    color:white;
    border-radius: 30px;
    border: none;
    font-size: 13px;
    font-weight: bold;
    transition: all .3s ease-in;
}